@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500&family=Gafata&family=Sarabun:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500&family=Gafata&family=Sarabun:wght@100;200;300;400;500;600;700&display=swap');
        /* font-family: 'Archivo',
        sans-serif;
    
        font-family: 'Gafata',
        sans-serif;
    
        font-family: 'Sarabun',
        sans-serif; */

html,
body {
  padding: 0;
  margin: 0;
  color: #0D1117;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Archivo";
  font-size: large;
  text-align: center;
}
.sub {
  font-family: "Radley";
  font-size: medium;
  text-align: left;
}

p {
  text-align: left;
  font-size: medium;
  font-family: "Archivo";
  padding-left: 10px;
}

.footer {
  position: absolute;
  background-color: #311616;
  bottom: 0px;
  left: 0px;
  color: #727272;
  text-align: center;
  text-justify: auto;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 1;
  margin: auto;
  padding: 10px 0;
  justify-content: flex-end;
  align-items: center;
  background-color: #311616;
  color: #f2f2f2;
}

.navbar .logo {
  margin-right: auto;
  padding-left: 35px;
  font-size: x-large;
  font-weight: bold;
}

.navbar .links {
  font-size: medium;
  padding-right: 20px;
  align-items: center;
}

.navbar .links a {
  padding: .9em;
}

.stag1 {
  top: 90px;
  color: #f2f2f2;
  left: 50px;
}

.stag2 {
top: 90px;
  color: #f2f2f2;
  left: 60px;
}

.stag3 {
top: 90px;
  color: #f2f2f2;
  left: 70px;
}

.stag4 {
top: 90px;
  color: #f2f2f2;
  left: 80px;
}

