@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Archivo;
  color: #0D1117;
}

a {
  
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-family: "Archivo";
  font-size: large;
  text-align: center;
}
.sub {
  font-family: "Radley";
  font-size: medium;
  text-align: left;
}

p {
  text-align: left;
  font-size: medium;
  font-family: "Archivo";
  padding-left: 10px;
}

.footer {
  position: absolute;
  background-color: #311616;
  bottom: 0px;
  left: 0px;
  color: #727272;
  text-align: center;
  text-justify: auto;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 1;
  margin: auto;
  padding: 10px 0;
  justify-content: flex-end;
  align-items: center;
  background-color: #311616;
  color: #f2f2f2;
}

.navbar .logo {
  margin-right: auto;
  padding-left: 35px;
  font-size: x-large;
  font-weight: bold;
}

.navbar .links {
  font-size: medium;
  padding-right: 20px;
  align-items: center;
}

.navbar .links a {
  padding: .9em;
}

.card {
  flex: ;
}