.imgContainer {
    position: relative;
    width: 100%;
    height: screen;
}

.overlay {
    position: relative;
    background-color: orange;
    color: white;
    top: 30%;
    left: 0%;
    z-index: 10;
}